*{
    margin: 0;
    box-sizing: border-box;
}
select{
    height: 50px;
    width: 210px;
    background-color: #0F71F2;
    border-radius: 7.5px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
}
select option {
    background-color: #ffffff;
    color: black;
}